body{
    background-color: #666464;
    padding: 30px;
    color: black;
}
.app{
    max-width: 50vw;
    margin: 0 auto;
    background-color: #efefef;
    padding: 20px, 30px;
    border-radius: 10px;
    margin-bottom: 300px;
}
h1{
    text-align: center;
    padding: 20px 0 ;
}
h2{
    margin-top: 0px;
}
p{
    margin: 10px 0px;
}
input{
    box-sizing: border-box;
}
button{
    background-color: rgb(131, 131, 226);
    color: black;
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
}
button:hover{
    opacity: 1;
}
.salvar{
    background-color: lightgreen;
}
.apagar{
    background-color: rgb(223, 84, 84);
}
.editar{
    background-color: lightblue;
}
.ListaDespesas{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.despesa{
    background-color: #fff;
    box-shadow: 0 0  10px rgba(0, 0, 0, .1);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ToDoForm{
    padding: 1.5rem;
}
input, select{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
}
.filtro, .busca{
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.filtro{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.filtro div {
    flex: 1 1 0;
}